name = "COSMO"
uuid = "1e616198-aa4e-51ec-90a2-23f7fbd31d8d"
authors = ["Michael <michael@garstka.org>"]
version = "0.8.9"

[deps]
AMD = "14f7f29c-3bd6-536c-9a0b-7339e30b5a3e"
COSMOAccelerators = "bbd8fffe-5ad0-4d78-a55e-85575421b4ac"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MathOptInterface = "b8f27783-ece8-5eb3-8dc8-9495eed66fee"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
QDLDL = "bfc457fd-c171-5ab7-bd9e-d5dbfc242d63"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
SuiteSparse = "4607b0f0-06f3-5cda-b6b1-a6196a1729e9"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
UnsafeArrays = "c4a57d5a-5b31-53a6-b365-19f8c011fbd6"

[compat]
AMD = "0.4, 0.5"
COSMOAccelerators = "^0.1.0"
DataStructures = "^0.17.0, ^0.18.0"
IterTools = "^1"
IterativeSolvers = "^0.9"
MathOptInterface = "1.20"
QDLDL = "0.4.1"
Reexport = "0.2, ^1"
Requires = "^1"
UnsafeArrays = "0.3, 1"
julia = "^1"

[extras]
IterativeSolvers = "42fd0dbc-a981-5370-80f2-aaf504508153"
LinearMaps = "7a12625a-238d-50fd-b39a-03d52299707e"

[targets]
test = ["IterativeSolvers", "LinearMaps"]
